<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>20/02/23 21:31:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.TestRunner@2a17b7b6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/02/23 21:31:07</td>   <td>213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, org.testng.ITestContext)[pri:0, instance:runner.TestRunner@2a17b7b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/23 21:31:13</td>   <td>6240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@2a17b7b6]">feature</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/02/23 21:31:18</td>   <td>11554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:runner.TestRunner@2a17b7b6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/02/23 21:31:19</td>   <td>12300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, org.testng.ITestContext)[pri:0, instance:runner.TestRunner@2a17b7b6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/23 21:31:24</td>   <td>17567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@2a17b7b6]">feature</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>20/02/23 21:31:43</td>   <td>36519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:runner.TestRunner@2a17b7b6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/23 21:31:44</td>   <td>37283</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.TestRunner@2a17b7b6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
</table>
